<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="centered-p">Ultimos Adcionados</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-title><h1><strong>Encontraremos <br> Juntos<br>
    Seu Amiguinho</strong></h1></ion-title>

    <ion-title color="medium"><h1><strong>Ultimos Adcionados</strong></h1></ion-title>
<ion-list>

  <ion-card>
    <ion-text>Cleomar Rubliscleison</ion-text>
    <ion-img src="/assets/shutterstock_559799125-compressed.jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-text>Gatonildo</ion-text>
    <ion-img src="/assets/04-09_gato_SITE.jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-text>Dogoniféro</ion-text>
    <ion-img src="/assets/cachorro-card-1.png"></ion-img>
  </ion-card>

  <ion-card>
    <ion-text>Cinzento</ion-text>
    <ion-img src="/assets/dog-4160445__340.jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-text>Gatonildo</ion-text>
    <ion-img src="/assets/images (5).jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-text>Gatonildo</ion-text>
    <ion-img src="/assets/images (7).jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-text>Gatonildo</ion-text>
    <ion-img src="/assets/download (3).jpg"></ion-img>
  </ion-card>
</ion-list>



</ion-content>
