<ion-header>

  <ion-toolbar color="dark">
    <ion-title  class="centered-p" style=" margin-left: 10px;">Bem vindo ao petsuko</ion-title>
    <ion-button  href="/add-dog" style="width: 10%; margin-right: 30px;" slot="end" name="add">+</ion-button>
  </ion-toolbar>

</ion-header >



<ion-content>
<ion-list class="background">
  <ion-card>
  <ion-item>
  <ion-img  src="/assets/photo-1507146426996-ef05306b995a.jpg"></ion-img>
</ion-item>
<ion-label class="centered-p">
<ion-title >
  Aroldo
</ion-title >
<p>Contato <br> Dona Lúcia <br> Telefone: 51 99654932</p>
</ion-label>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-img src="/assets/images (2).jpg"></ion-img>
    </ion-item>
    <ion-label class="centered-p">
    <ion-title >
      Luan Santana
    </ion-title >
    <p>Contato <br> Roberto Crusoé <br> Telefone: 51 992423232</p>
    </ion-label>

  </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-img src="/assets/cachorro-card-1.png"></ion-img>
      </ion-item>
      <ion-label class="centered-p">
      <ion-title >
        Igor
      </ion-title >
      <p>Contato <br> Marcos castro <br> Telefone: 51 997553233</p>
      </ion-label>

    </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-img src="/assets/images (3).jpg"></ion-img>
        </ion-item>
        <ion-label class="centered-p">
        <ion-title >
          Jublisqueison Furacão
        </ion-title >
        <p>Contato <br> Jeferson André Froelich Fischer <br> Telefone: 51 99642312</p>
        </ion-label>
      </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-img src="/assets/images (4).jpg"></ion-img>
          </ion-item>
          <ion-label class="centered-p">
          <ion-title >
            Salsichudo
          </ion-title >
          <p>Contato <br> Maria de Ambritunguido <br> Telefone: 51 99123332</p>
          </ion-label>
        </ion-card-header>
        </ion-card>
</ion-list>

</ion-content>
