<ion-header >
  <ion-toolbar color="dark">
    <ion-title class="centered-p">Encontre seu amigo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title>Nome:</ion-title>
  <ion-input class="centered-c" placeholder="Digite o nome do seu Amigo"></ion-input>
  <ion-title>Raça:</ion-title>
  <ion-input class="centered-c" placeholder="Raça"></ion-input>
  <ion-title>Sexo:</ion-title>
  <ion-input class="centered-c" placeholder="Sexo do bixano"></ion-input>
  <ion-title>Telefone:</ion-title>
  <ion-input class="centered-c" placeholder="Seu Número Aqui"></ion-input>
  <img src="{{imgURL}}" height="200" width="200"/>
  <ion-button (click)="getGallery()">gareria</ion-button>
<ion-button (click)="getGallery()" href="/last">Pronto!</ion-button>
</ion-content>
